body{
    height: 100vh;
    display: flex;
    align-items: center;
}
.cards {
    position: relative;
    width: 1440px;
    height: 400px;
    margin: 0 auto;   
    display: flex;
    align-items: flex-end;
}
.cards__img{
    width: 90px;
    height: 90px;
}
.cards__card {
    border-radius: 4px;
    position: absolute;
    width: 170px;
    height: 300px;
    background-color: #b880ec;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    box-sizing: border-box;
    left: 0px;
    box-shadow: 0px 45px 29px -1px rgba(34, 60, 80, 0.39);
    color: #fff;
    animation-name: run ;
    animation-duration: 10.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform-origin: center;
}
._second{
     animation-delay: 1.5s;
 }
 ._3{
    animation-delay: 3s;
 }
 ._4{
    animation-delay: 4.5s;
 }
 ._5{
    animation-delay: 6s;
 }
 ._6{
    animation-delay: 7.5s;
 }
 ._7{
    animation-delay: 9s;
 }

.cards:hover .cards__card{
    animation-play-state:paused ;
}
@keyframes run {
    0%{
        left: 0;
        width: 160px;
        height: 290px;
    }
    40%{
        height: 400px;
        width: 180px;
    }
    50%{
        height: 400px;
        width: 180px;
    }
    90%{
        left: 88%;
        width: 160px;
        height: 290px;
        z-index: -10;
    }
    100%{
        z-index: -100;
        background-color: #e940a8;
    }
}
